[submodule "puppet/modules/apache"]
	path = puppet/modules/apache
	url = git://github.com/puppetlabs/puppetlabs-apache
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = git://github.com/puppetlabs/puppetlabs-stdlib
[submodule "puppet/modules/concat"]
	path = puppet/modules/concat
	url = git://github.com/puppetlabs/puppetlabs-concat
[submodule "puppet/modules/staging"]
	path = puppet/modules/staging
	url = git://github.com/nanliu/puppet-staging
[submodule "puppet/modules/mysql"]
	path = puppet/modules/mysql
	url = git://github.com/puppetlabs/puppetlabs-mysql
[submodule "puppet/modules/locales"]
	path = puppet/modules/locales
	url = git://github.com/saz/puppet-locales
[submodule "puppet/modules/php"]
	path = puppet/modules/php
	url = git://github.com/jippi/puppet-php
[submodule "puppet/modules/mailcatcher"]
	path = puppet/modules/mailcatcher
	url = git://github.com/thiagorock22/puppet-my-mailcatcher
